.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 670px;
    width: 100%;
} 
.checkoutData-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.checkout-field{
    display: block;
      width: 90%;
      padding: 6px 12px;
      font-size: 16px;
      color: #212529;
      background-color: #FFFFFF;
      border: 1px solid #ced4da;
      border-radius: 6px;
      background-clip: padding-box;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-bottom: 25px;
  }

  .add-Data{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .error-msg{
    font-size: 25px;
    color: red;
  }